.reserve{
    height: 100vh;
    width: 100vw;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.reserveContainer{
    background: #000;
    position: relative;
}
.reserveClose{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.reserveItem{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}
.reserveInfo{
    display: flex;
    flex-direction: column;
}
.room{
    display: flex;
    flex-direction: column;
}
