.featuredProperties{
    width: 100%;
    max-width: 1024px;
}
.fpItem{
    flex: 1;
    gap:10px;
    display: flex;
    flex-direction: column;
}
.fpImg{
    width: 100%;
}
.fpRating>button{
    background-color: blue;
    columns: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
}
